@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --foreground: 0, 0, 0;
    --background: #1D1F22;
}

@media (prefers-color-scheme: dark) {
     :root {
        --foreground: #A1ADB9;
        --background: #181A1E;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}